<% @bookmarks.each do |bookmark| %>
    <%= render bookmark %>
<% end %>
<div class="pagination-wrap col-12">
  <div><%= paginate @bookmarks %></div>
  <div><%= page_entries_info @bookmarks %></div>
</div>
