<div class="row justify-content-center">
  <div class="col-sm-6 text-center mt-5">
    <h1>To use this app you must sign in with facebook first</h1>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'btn btn-primary mt-4' %>
  </div>
</div>