@media (min-width: 768px) {
  #search-collapse {
    display: none;
  }
}
@media (max-width: 768px) {
  #search-title {
    display: none;
  }
}


.bookmark {
  position: relative;
  height: 100%;

  .card {
    overflow: hidden;
  }

  .no-thumb {
    height: 141px;
    padding-top: 15%;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    color: #888;
  }

  .overlay-name,
  .overlay-links {
    position: absolute;
  }

  .overlay-name {
    bottom: -16px;
    right: 0;
    padding: 0 20px 0 100%;
    background-color: #eee;
  }

  .overlay-links {
    &.right {
      right: 10px;
    }
    &.left {
      left: 10px;
    }
  }
}
.welcome-wrapper {
  margin: 50px auto 40px auto;
  width: 600px;
  text-align: center;
}