.bookmark {
  position: relative;
  height: 100%;

  .card {
    overflow: hidden;
  }

  .no-thumb {
    height: 141px;
    padding-top: 15%;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    color: #888;
  }

  .overlay-name,
  .overlay-links {
    position: absolute;
  }

  .overlay-name {
    bottom: -16px;
    right: 0;
    padding-right: 20px;
    background-color: #eee;
    z-index: 2;
  }
  .overlay-name.backdrop {
    padding-left: 300px;
    height: 50px;
    bottom: -26px;
    z-index: 1;
  }

  .overlay-links {
    &.right {
      right: 10px;
    }
    &.left {
      left: 10px;
    }
  }
}
.welcome-wrapper {
  margin: 50px auto 40px auto;
  width: 600px;
  text-align: center;
}